<div class="row">
    <div class="col-8">
        <h1>Recipes</h1>
    </div>
    <div class="col-4">
        <%= link_to(new_recipe_path, class: 'btn btn-primary float-end') do %>
            <i class="fas fa-circle-plus"></i>
            Create Recipe
        <% end %>
    </div>
</div>

<%= render(partial: 'shared/basic_search') %>

<div id="results" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-3 mt-1">
    <% @recipes.each do |recipe| %>
        <div class="col">
            <div class="card">
                <% if recipe.image.attached? %>
                    <%= image_tag(recipe.image, class: 'card-img-top') %>
                <% end %>

                <div class="card-body">
                    <h5 class="card-title"><%= recipe.title %></h5>

                    <% if recipe.description? %>
                        <p class="card-text"><%= recipe.description.truncate(80, separator: /\s/) %></p>
                    <% end %>


                   <%= link_to('View Recipe', recipe, class: 'btn btn-primary stretched-link') %>
                     <% if logged_in?%>
                        <% if user_recipe = @user_recipes.find { |ur| ur.recipe_id == recipe.id }%>
                            <% if user_recipe.liked? %>
                                 <%= form_for(user_recipe, method: :delete, html: { style: 'display: inline-block;' }) do |f| %>
                                    <%= button_tag type: 'submit', class: "btn btn-success clickable" do %>
                                        <i class="fas fa-thumbs-up"></i>
                                    <% end %> 
                                <%end-%>
                                
                                <%= form_for(user_recipe, html: { style: 'display: inline-block;' }) do |f| %>
                                    <%= f.hidden_field :liked, value: 0 %>
                                    <%= button_tag type: 'submit', class: "btn btn-outline-danger clickable" do %>
                                        <i class="fa-regular fa-thumbs-down"></i>
                                    <% end %> 
                                <%end-%>
                            <% else %>
                                <%= form_for(user_recipe, html: { style: 'display: inline-block;' }) do |f| %>
                                    <%= f.hidden_field :liked, value: 1 %>
                                    <%= button_tag type: 'submit', class: "btn btn-outline-success clickable" do %>
                                        <i class="fa-regular fa-thumbs-up"></i>
                                    <% end %> 
                                <%end-%>
                                
                                <%= form_for(user_recipe, method: :delete, html: { style: 'display: inline-block;' }) do |f| %>
                                    <%= button_tag type: 'submit', class: "btn btn-danger clickable" do %>
                                        <i class="fas fa-thumbs-down"></i>
                                    <% end %> 
                                <%end-%>
                            <% end %>
                        <%else %>
                                <%= form_tag(user_recipes_path, style: 'display: inline-block;') do -%>
                                    <%=hidden_field_tag "id", recipe.id%>
                                    <%=hidden_field_tag "liked", 1%>
                                    <%= button_tag type: 'submit', class: "btn btn-outline-success clickable" do %>
                                        <i class="fa-regular fa-thumbs-up"></i>
                                    <% end %> 
                                <%end-%>

                                <%= form_tag(user_recipes_path, style: 'display: inline-block;') do -%>
                                    <%=hidden_field_tag "id", recipe.id%>
                                    <%=hidden_field_tag "liked", 0%>
                                    <%= button_tag type: 'submit', class: "btn btn-outline-danger clickable" do %>
                                        <i class="fa-regular fa-thumbs-down"></i>
                                    <% end %> 
                                <%end-%>
                        <%end%>
                    <%end%>


                </div>
            </div>
        </div>
    <% end %>
</div>

<%= render(partial: 'shared/pagy_nav') %>